<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
</head>
<body>
<div id="app">
	<el-form id="ff" label-width="80px">
		<el-form-item label="名称">
			<el-input  name="name" :value="name"></el-input>
		</el-form-item>
		<el-form-item label="地址">
			<el-input  name="url"  :value="url"></el-input>
		</el-form-item>
		<el-form-item label="角色">
			<el-select v-model="value13" placeholder="请选择">
				<el-option
						v-for="item in options"
						:key="item.id"
						:label="item.name"
						:value="item.id">
				</el-option>
			</el-select>
		</el-form-item>
		<el-form-item label="排序">
			<el-input  name="sort"  :value="sort"></el-input>
		</el-form-item>
		<el-form-item>
			<el-button type="primary" @click="submitForm">提交</el-button>
		</el-form-item>
	</el-form>
</div>
</body>
<script type="text/javascript" src="../../js/include.js"></script>
<script>
    new Vue({
        el: '#app',
        data:{
            name:'',
            id:'',
            url:'',
            sort:'',
            pid:'',
            options: [],
            value13:[]
        },
        methods: {
            submitForm() {
                var self = this;
                var obj=$("#ff").serializeObject()
                obj.id=this.id;
                obj.pid=this.pid;
                obj.type=this.value13.toString();
                $.ajax({
                    url:url+'/system/resources/update',
                    type:'post',
                    data:obj,
                    success:function(data){

                        if(data.result=="success"){
                            self.toList();
                        }
                    }
                });
            },toList(){
                window.location=htmlURL+"/system/resources/list.html";
            },init(){
                var self = this;
                $.ajax({
                    url: url + "/system/dict/findDictByDict?type=1",
                    type: 'get',
                    success: function (data) {
                        self.options=data.data;
                        $.ajax({
                            url:url+'/system/resources/selectByPrimaryKey',
                            type:'post',
                            data:'id='+getQueryString("id"),
                            success:function(data){
                                self.name=data.data.name
                                self.id=data.data.id
								self.sort=data.data.sort
                                self.url=data.data.url
                                self.pid=data.data.pid
								self.value13=data.data.type;
                            }
                        });
                    }
                });
            }
        },
        mounted () {
            this.init();
        }
    })
</script>
</html>