<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangsong.sys.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.wangsong.sys.model.User">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <insert id="insert" parameterType="com.wangsong.sys.model.User">
    insert into sys_user (id, username, password
      )
    values (#{id,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
      )
  </insert>
   <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <update id="updateByPrimaryKey" parameterType="com.wangsong.sys.model.User">
    update sys_user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, username, password
    from sys_user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap"  >
    select id, username, password
    from sys_user 
  </select>
  
  <select id="selectAllCount" resultType="java.lang.Integer"  >
    select count(*)
    from sys_user 
  </select>
   <select id="findUserByLoginName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, username, password
    from sys_user
    where username = #{username,jdbcType=VARCHAR}
  </select>
  
</mapper>