<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
</head>
<body>
<div id="app">
	<el-form id="ff" label-width="80px">
		<el-form-item label="账号">
			<el-input  v-model="username" name="username" value="" @blur="findUserByUser"></el-input>
		</el-form-item>
		<el-form-item label="密码">
			<el-input  name="password"  value=""></el-input>
		</el-form-item>
		<el-form-item label="角色">
		<el-select v-model="value13" multiple placeholder="请选择">
			<el-option
					v-for="item in options"
					:key="item.id"
					:label="item.name"
					:value="item.id">
			</el-option>
		</el-select>
		</el-form-item>
		<el-form-item>
			<el-button type="primary" @click="submitForm">提交</el-button>
			<el-button type="primary" @click="toList">返回</el-button>
		</el-form-item>
	</el-form>
</div>
</body>
<script type="text/javascript" src="../../js/include.js"></script>
<script>
    new Vue({
        el: '#app',
		data:{
            username:'',
            options: [],
            value13:[]
		},
        methods: {
            submitForm() {
            	this.$confirm('确认操作?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
					var self = this;
					var obj=$("#ff").serializeObject()
					obj.roleId=this.value13.toString()
					getQueryString("pid")
					$.ajax({
						url:url+"/system/user/add",
						type:'post',
						data:obj,
						success:function(data){
							if(data.result=="success"){
								self.toList();
							}
						}
					});
				})
            },toList(){
                window.location=htmlURL+"/system/user/list.html";
            }, cx(){
                var self = this;
                $.ajax({
                    url:url+"/system/role/listAll",
                    type:'post',
                    success:function(data){
                        self.options=data.data;
                    }
                });
            },findUserByUser(){
                var self = this;
                var a=false;
                $.ajax({
                    url:url+'/system/user/findUserByUser',
                    type:'post',
                    async : false,
                    data:'username='+self.username,
                    success:function(data){
                        if(data.result=="success"){
                            a= true;
                        }else{
                            self.$alert('用户名重名', '提示', {
                                confirmButtonText: '确定',
                            });
                            a= false;
                        }
                    }
                });
                return a;
            }

        },
        mounted () {
            this.cx();
        }
    })
</script>
</html>